body,
#selector,
.container,
.navbar-inner {
    background-color: #D291BC !important;
}

.navbar-static-top {
  position: static;
  margin-bottom: 0px;
  background-color: #D291BC !important;
}

.navbar-default{
    background-color:red !important;
    border-color: green !important;
}
